
// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Fonts
$body-font: 'Roboto Slab', serif;   
$header-font: 'Open Sans', sans-serif;


$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-semibold:        600!default;
$font-weight-bold:            700 !default;


// font size

$heading-font: 2.6rem;
$heading-info: 1.4rem;
$subheading: 1.1875rem;
$blogheading:1.3125rem;





