
//background colors starts

$top-nav:rgb(33, 178, 166);
$intro:rgb(9, 51, 48);
$bg-story:rgb(178, 94, 33);
$team-bg:#fff;
$light-bg:rgb(196, 204, 203);

//background colors ends

// button color

$btn1:rgb(178, 33, 118);
$btn2:rgb(9, 51, 48);
$btn3:rgb(196, 204, 203);

// font color

$body-color:#212529;
$color-whiite:#fff;
$nav-hover:rgb(9, 51, 48);
$link-color:rgb(178, 33, 118);
